/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Inter Tight';
    
}

.logoContainer{
    display: flex;
    gap: 8px;
    align-items: center;
    flex: 1 1 !important;
}

header{
    display: flex;
    gap: 8px;
    align-items: center;
    width: Hug (1,328px)px;
    height: Hug (60px)px;
    top: 24px;
    left: 56px;
    padding: 0px 0px 24px 0px;
    gap: 30%;
    border: 0px 0px 1px 0px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #D7DDE9;
    margin-bottom: 35px;
    justify-content: space-evenly;
    padding-left: 25px;
    padding-right: 25px;
}

@media(max-width: 887px){
    header{
        flex-direction: column;
        align-items: baseline;
    }
}

@media(max-width: 600px){


    header h2{
        font-size: 16px;
        font-weight: 500;
    }
}


header h1{
    font-size: 1.4rem;
    color: black;
    font-weight: 750;
}

header span{
    color: #0000008A
}

.logo{
    width: 33.17px;
    height: 33px;
    top: 1.5px;
 
}

body{
    position: relative;
}

.aware{
    width: 60%;
    margin: auto;

    border-radius: 15px;
    border-style: solid !important;
    border-width: 1.7px;
    border-color: #EAECF0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    list-style: none; 
    padding: 32px;
    gap: 24px;
    border-radius: 16px;

    margin-bottom: 15px;
}

main{
    height: 70vh;
}

/* ---- FOOTER ---- */

footer{
    margin-top: 40px;
    background-color: var(--BackGround);
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
  }
  
  footer div{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
  }
  
  
  
  
  footer div a{
    display: flex;
    align-items: end;
    gap: 15px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  footer img{
    width: 32px;
    height: 32px;
  }
  
  .external{
    width: 14px;
    height: 14px;
    align-self: self-start;
    margin-left: -15px;
  
  }
  
  footer span{
    font-size: 1.2rem;
  }
  
  strong{
    color: BLACK;
  }
  

  
  @media(max-width: 730px){
    footer{
      flex-direction: column;
      height: 10vh;
      gap: 15px;
    }
    
  }
  
  @media(max-width: 380px){
    footer{
      height: 20vh;
    }
  
    footer span{
      font-size: 0.8rem;
    }
  
    footer div a{
      font-size: 0.8rem;
  
    }
  
    footer img{
      width: 24px;
      height: 24px;
    }
  
    footer div{
      gap: 10px;
    }
    
    
  }

 
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src\\app\\layout.js","import":"","arguments":[{"src":"./fonts/GeistVF.woff","variable":"--font-geist-sans","weight":"100 900"}],"variableName":"geistSans"} ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__geistSans_1e4310';
src: url(/_next/static/media/4473ecc91f70f139-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: '__geistSans_Fallback_1e4310';src: local("Arial");ascent-override: 85.83%;descent-override: 20.52%;line-gap-override: 9.33%;size-adjust: 107.19%
}.__className_1e4310 {font-family: '__geistSans_1e4310', '__geistSans_Fallback_1e4310'
}.__variable_1e4310 {--font-geist-sans: '__geistSans_1e4310', '__geistSans_Fallback_1e4310'
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src\\app\\layout.js","import":"","arguments":[{"src":"./fonts/GeistMonoVF.woff","variable":"--font-geist-mono","weight":"100 900"}],"variableName":"geistMono"} ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__geistMono_c3aa02';
src: url(/_next/static/media/463dafcda517f24f-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: '__geistMono_Fallback_c3aa02';src: local("Arial");ascent-override: 69.97%;descent-override: 16.73%;line-gap-override: 7.61%;size-adjust: 131.49%
}.__className_c3aa02 {font-family: '__geistMono_c3aa02', '__geistMono_Fallback_c3aa02'
}.__variable_c3aa02 {--font-geist-mono: '__geistMono_c3aa02', '__geistMono_Fallback_c3aa02'
}

